.date {
    background-color: #ab3ee2;
    margin-top: 2rem !important;
    margin: auto;
    width: 15rem;
    height: 3rem;
    border-radius: 5rem;
    font-size: 1.5rem;
}

.date span {
    margin: auto;
    align-content: center !important;
}

.add-expense {
    position: relative;
    left: 0;
    bottom: 0;
    margin-bottom: 2rem;
    height: 3rem;
    width: 12rem;
    margin-left: 5.5rem;
}