.date {
    background-color: #ab3ee2;
    margin-top: 2rem !important;
    margin: auto;
    width: 15rem;
    height: 3rem;
    border-radius: 5rem;
    font-size: 1.5rem;
}

.date span {
    margin: auto;
    align-content: center !important;
}

.addExpense {
    position: relative;
    top: 78vh;
    left: 0;
    bottom: 0;
    margin-bottom: 2rem !important;
    height: 3rem;
    width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

.expenseForm {
    width: 12rem;
    font-size: 1.2rem !important;
    background-color: #6f4982 !important;
    border: none !important;
    color: white !important;
}